.dropdown-toggle::after{
    display: none !important;
}

.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
    min-height: 350px;
}